@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Bold.woff2") format("woff2");
  font-weight: 700;
}
@import "tailwindcss";
@plugin "daisyui";
